* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'TT Hoves', sans-serif;
    color: #222
}

section {
    padding: calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

section.hello{
  padding-top: 40px;
  background-image: url(../img/html_css_js\ 1.png);
  background-repeat: no-repeat;
  background-position: top 20px right 40px;
  background-size: 27%;
}

.logo{
    height: calc(30px + (41 - 30) * ((100vw - 375px) / (1280 - 375)));
    
}

.courseInfo{
    display: flex;
    gap: 30px 160px;
    flex-wrap: wrap;
    margin-top:calc(28px + (85 - 28) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(48px + (76 - 48) * ((100vw - 375px) / (1280 - 375)));
}


.courseData{
    font-size: 21px;
    line-height: 140%;
}

.courseData .value{
    font-weight: 700;
}

h1{
    font-family: 'Chava', sans-serif;
    font-size: calc(42px + (80 - 42) * ((100vw - 375px) / (1280 - 375)));
    line-height: 110%;
}

p {
    margin-top: calc(20px + (40 - 20) * ((100vw - 375px) / (1280 - 375)));
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 300;
    line-height: 140%;
}

.cta {
   margin-top: 20px;
   display: flex;
   gap: 20px 30px;
   flex-wrap: wrap; 
}

button {
    width: 320px;
    padding: 20px 0px;
    border-radius: 12px;

    font-size: 18px;
    font-weight: 500;
    line-height: 117%;
}

button.purple {
    background: #6E3ABA;
    color: white;
    border: #6E3ABA;
}

button.white {
    
    background: white;
    color: #6E3ABA;
    border: 1px solid #6E3ABA;
}












.section2 {
    padding: calc(24px + (121 - 24) * ((100vw - 375px) / (1280 - 375)));
}

h2 {
    font-style: 'TT Hoves', sans-serif;
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 500;
    margin-bottom: calc(40px + (90 - 40) * ((100vw - 375px) / (1280 - 375)));
}

h3 {
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    font-weight: 600;
}

.Memoji{
    margin-bottom: 10px;
    width: calc(180px + (210 - 180) * ((100vw - 375px) / (1280 - 375)));
    height: calc(180px + (210 - 180) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(40px + (52 - 40) * ((100vw - 375px) / (1280 - 375)))
}

.profession .new{
    display: flex;
    flex-wrap: wrap;
}





















.saleContainer {
    background-color: #6E3ABA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: calc(4,4vw + 23px) 0 calc(5,3vw + 20px);
}

.saleContainer h3{
    color: white;
    font-size: calc(52px + (52 - 34) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(20px + (57 - 20) * ((100vw - 375px) / (1280 - 375)));
}

.time {
    display: flex;
    gap: 85px;
    margin-bottom: calc(21px + (57 - 21) * ((100vw - 375px) / (1280 - 375)))
}

.date{
    font-size: calc(60px + (174 - 60) * ((100vw - 375px) / (1280 - 375)));
    font-family: 'Chava';

}

.timeCard span{
    text-align: center;
    font-size: calc(10px + (27 - 10) * ((100vw - 375px) / (1280 - 375)));
    display: block;
}

.aim p{
    font-size: calc(18px + (27 - 18) * ((100vw - 375px) / (1280 - 375)));
    margin-top: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));
    margin-bottom: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));

}

.verst h2{
    font-size: calc(34px + (58 - 34) * ((100vw - 375px) / (1280 - 375))); 
    margin-bottom: calc(20px + (90 - 20) * ((100vw - 375px) / (1280 - 375)));;
}

.zero p{
    margin-bottom: calc(30px + (90 - 30) * ((100vw - 375px) / (1280 - 375)));
    padding-right: 120px;
    
}

.first p{
    margin-bottom: calc(30px + (90 - 30) * ((100vw - 375px) / (1280 - 375)));
    padding-right: 120px;
    
}
.second{
   display: flex;
    gap: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));;
}

.fourth{
    display: flex;
    gap: calc(10px + (20 - 10) * ((100vw - 375px) / (1280 - 375)));;
}

.zero{
    padding-right: 120px;
}

.a{
    display: flex;
    flex-wrap: wrap ;
}

.b {
    display: flex;
    flex-wrap: wrap;
}

.c{
    display: flex;
    flex-wrap: wrap;
}

.d{
    display: flex;
    flex-wrap: wrap;
}

